<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles/action_logs.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="main">
    <div class="sidebar">
      <ul class="nav_list">
        <li>
          <div class="logo_content">
            <a href="/dashboard" type="padding: 0px 12px">
              <i class='bx bx-devices'></i>
              <span class="logo_name"> Device Manager</span>
            </a>
          </div>
        </li>
        <li>
          <div class="dashboard_content">
            <a href="/dashboard">
              <i class='bx bxs-dashboard'></i>
              <span class="links_name">Dashboard</span>
            </a>
          </div>
        </li>
        <li>
          <div class="dashboard_content">
            <a href="#">
              <i class='bx bx-time'></i>
              <span class="links_name">Logs</span>
            </a>
          </div>
        </li>
        <li>
          <div class="dashboard_content">
            <a href="#">
              <i class='bx bx-cog'></i>
              <span class="links_name">Setting</span>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="table_display" id="table-display">
      <div class="navbar">
        <div class="user">
          <span> Welcome John</span>
          <i class='bx bxs-user'></i>
        </div>
      </div>
      <div class="search-box">
        <span> Action Logs </span>
        <div class='search-form' >
          <input id="search" name="search" type="text" placeholder="name">
          <button class="search-form-butt" onclick="reloadPage();">Search</button>
        </div>
      </div>
      <div id="table-container">
        <table id="table">
            <thead id="row_name">
              <tr>
                <th> Device Id #</th>
                <th> Name</th>
                <th> Action</th>
                <th> Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
      </div>
      
		  <div class="pagenumbers search-button-container" id="pagination"></div>
    </div>
  </div>
  <script src="/controller/action_logs.js"></script>
</body>

</html>
