<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/styles/login.css" rel="stylesheet" type="text/css"  />

  </head>
    
  <body>
    
    <div id="id01" class="login">
        <h1>SOIOT SYSTEM</h1>
        <form name="login" action='/' method="post">
          <div class="form-control">
            <input name="username" type="text" placeholder="user name" >
          </div>
          <div class="form-control">
            <input name="password" type="password" placeholder="password" >
          </div>
          <button class="button-control" >LOGIN</button>
          <a href="#">or create new account</a>
        </form>
      </div>
  </body>
</html>
